
__pycache__/
*.py[cod]
*$py.class


build/
dist/
*.egg-info/
.eggs/

.vscode/

*.log
*.tmp
*.bak
.cache/

settings.json
keys.py

qdrant_data/*
!qdrant_data/.gitkeep

scripts/saved_scripts/

rag_config.py

src/scripts/saved_scripts/

checkpoints*

/data/

.env

conversation_history.json

extra_packages/